{{define "page_topic_list"}}
	{{template "page_header" .}}
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<a class="btn btn-primary-outline" href="/nt/">New topic</a>
				</div>
				<div class="col-md-4">
                    {{if .Topics}}
                        {{template "topics_pagination" .}}
                    {{end}}
				</div>
			</div>

			{{if .Topics}}
				<table class="table">
					<thead>
						<tr>
							<th>Topic</th>
							<th>Category</th>
							<th>Replies</th>
							<th>Activity</th>
						</tr>
					</thead>
					<tbody>
					{{range .Topics}}
						<tr>
							<td>
								<a href="/t/{{.TopicID}}/{{.Topic.Slug}}/">{{.Title}}</a>
								{{if gt .Topic.Pages 1}}
									<small>
										&raquo; <a href="/t/{{.TopicID}}/{{.Topic.Slug}}/?page={{.Pages}}">last page</a>
									</small>
								{{end}}
								<small>by {{.User.Login}}</small>
							</td>
							<td>
								<small title="{{.Category.Description}}">
									<span class="label label-pill" style="background: #{{.Category.ColorHex}}">&nbsp;</span>
									{{.Category.Name}}
								</small>
							</td>
							<td class="text-muted">
								{{.Replies}} replies
							</td>
							<td>
								{{.Updated.Format "_2 Jan 2006"}}
							</td>
						</tr>
					{{end}}
					</tbody>
				</table>

                {{template "topics_pagination" .}}
			{{else}}
				<div class="row">
					<div class="col-md-12">
						no topics
					</div>
				</div>
			{{end}}
		</div>
	</body>
</html>
{{end}}


{{define "topics_pagination"}}
	<nav>
		<ul class="pager">
			{{if .Pagination.IsFirst}}
				<li class="pager-prev disabled"><span>&laquo; first page</span></li>
			{{else}}
                <li class="pager-prev"><a href="./?{{.URLQuery.Without "page"}}">&laquo; first page</a></li>
			{{end}}
			{{if .Pagination.HasNext}}
				<li class="pager-next"><a href="./?{{.URLQuery.With "page" .Pagination.NextPage}}">next page &rsaquo;</a></li>
			{{else}}
				<li class="pager-next disabled"><span>next page &rsaquo;</span></li>
			{{end}}
		</ul>
	</nav>
{{end}}
