{{define "page_message_list"}}
	{{template "page_header" .}}
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<a href="/">Topics</a> &raquo;
					{{.Topic.Title}}
				</div>
			</div>

			{{range .Messages}}
				<hr class="invisible">

				<div class="row" id="m{{.MessageID}}">
					<div class="col-md-2">
						<div class="pull-right">
							{{.User.Login}}
						</div>
					</div>
					<div class="col-md-8">
						<a href="#m{{.MessageID}}">#{{.CollectionPos}}</a>
					</div>
					<div class="col-md-2">
						<div class="pull-right">
							{{.Message.Created.Format "_2 Jan 2006"}}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-9 col-md-offset-2">
						{{.Message.Content}}
					</div>
				</div>
			{{end}}

			<div class="row">
				<div class="col-md-12">
					<div class="center-block">
						{{template "pagination" .Paginator}}
					</div>
				</div>
			</div>

			{{if .Paginator.IsLast}}
				<div class="row">
					<div class="col-md-12">
						<form action="." method="POST" enctype="multipart/form-data">
							<fieldset class="form-group">
								<textarea class="form-control" name="content" required></textarea>
							</fieldset>
							<button class="btn btn-primary-outline btn-sm pull-right" type="submit">Submit</button>
						</form>
					</div>
				</div>
			{{else}}
				<div class="row">
					<div class="col-md-4 col-md-offset-4 alert alert-info center">
						Go to <a href="?page={{.Paginator.LastPage}}">last page</a> to comment.
					</div>
				</div>
			{{end}}

		</div>
	</body>
</html>
{{end}}
