{{define "page_topic_list"}}
	{{template "page_header" .}}
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8">
					<a href="/t/">Create topic</a>
				</div>
				<div class="col-md-4">
                    {{if .Topics}}
                        {{template "simple_pagination" .Pagination}}
                    {{end}}
				</div>
			</div>

			{{if .Topics}}
				<table class="table">
					<thead>
						<tr>
							<th>Topic</th>
							<th>Category</th>
							<th>Replies</th>
							<th>Activity</th>
						</tr>
					</thead>
					<tbody>
					{{range .Topics}}
						<tr>
							<td>
								<a href="/t/{{.TopicID}}/{{.Slug}}/">{{.Title}}</a>
								{{if gt .Topic.Pages 1}}
									<a href="/t/{{.TopicID}}/{{.Slug}}/?page={{.Pages}}">last page</a>
								{{end}}
								<small>by {{.User.Login}}</small>
							</td>
							<td>
								<small title="{{.Category.Description}}">
									<span class="label label-pill" style="background: #{{.Category.ColorHex}}">&nbsp;</span>
									{{.Category.Name}}
								</small>
							</td>
							<td class="text-muted">
								{{.Replies}} replies - X views
							</td>
							<td>
								{{.Updated.Format "_2 Jan 2006"}}
							</td>
						</tr>
					{{end}}
					</tbody>
				</table>

                {{template "simple_pagination" .Pagination}}
			{{else}}
				<div class="row">
					<div class="col-md-12">
						no topics
					</div>
				</div>
			{{end}}
		</div>
	</body>
</html>
{{end}}
