{{define "pagination"}}
    <nav>
        <ul class="pagination pagination-sm">
            <li {{if .IsFirst}}class="disabled"{{end}}>
                <a href="./?page={{.PrevPage}}" title="Previous page" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {{range .PagPages}}
                {{if .Disabled}}
                    <li>
                        <span>{{.Label}}</span>
                    </li>
                {{else}}
                    <li class="{{if .Active}}active{{end}}">
                        <a href="./?page={{.Number}}">{{.Label}}</a>
                    </li>
                {{end}}
            {{end}}
            <li {{if .IsLast}}class="disabled"{{end}}>
                <a href="./?page={{.NextPage}}" title="Next page" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
{{end}}
